<h1>List of posts</h1>
<% @posts.each do |post| %>
<ul>
  <li> <%= post.title %> | <%= post.body %> | <% if logged_in? %> <%= post.user.name %> <% end %> </li>
</ul>
<% end %>

<% if logged_in? %>
  <%= link_to "Create a new post", new_post_path%>
<% end %>