
.debug_dump {
  display: inline-block;
  width: 75%;
  margin: 40px 10%;
  padding: 2%;
  border: 0.5% solid black;
  background-color: rgb(216, 66, 66);
  color: rgb(196, 250, 204);
  font-weight: bold;
}

/* header styling   */ 
.header {
  display: flex;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  
  .header-nav {
    display: inline-block;
    width: 70%;
    height: 100%;
    
  }

  .avatar {
    display: inline-block;
    width: 30%;
    height: 100%;

  }
}